@use "../../utils.scss" as *;
@use "sass:color";

.buttonsContainer {
  margin: 25px;
  display: flex;
  justify-content: flex-start;
  gap: 12px;
  display: flex;
  align-items: center;
  justify-self: center;

  .button {
    color: $light-text-color;
    padding: 8px 10px;
    background-color: $primary-color;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;

    &:hover {
      background-color: color.scale($primary-color, $lightness: -10%);
    }

    &:disabled {
      background-color: $lighten-background-color;
      cursor: not-allowed;
      opacity: 0.5;
    }
  }

  .chevronRight {
    @include icon($light-text-color) {
      @extend .fa-chevron-right;
      font-size: 0.8rem;
      margin-bottom: -2px;
    }
  }

  .chevronLeft {
    @include icon($light-text-color) {
      @extend .fa-chevron-left;
      font-size: 0.8rem;
      margin-bottom: -2px;
    }
  }
}
