@use "../../utils.scss" as *;
@use "sass:color";

.navBar {
  border-bottom: 1px solid $basic-border-color;
  background-color: $basic-background;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 20;

  .linksContainer {
    display: flex;
    gap: 30px;

    .link {
      list-style: none;
      margin: 0;

      a {
        text-decoration: inherit;
        color: $secondary-color;

        &:hover {
          color: color.scale($secondary-color, $lightness: -10%);
        }

        &.active {
          color: $primary-color;
          font-weight: 600;
        }
      }
    }
  }

  .heart {
    @include icon($secondary-color, regular) {
      @extend .fa-heart;
      font-size: 1rem;
      margin-left: 8px;
    }
  }

  .fullHeart {
    @include icon($primary-color) {
      @extend .fa-heart;
      font-size: 1rem;
      margin-left: 8px;
    }
  }

  .house {
    @include icon($secondary-color) {
      @extend .fa-house;
      font-size: 1rem;
      margin-left: 8px;
    }
  }

  .fullHouse {
    @include icon($primary-color) {
      @extend .fa-house-chimney-window;
      font-size: 1rem;
      margin-left: 8px;
    }
  }
}
