@use "../../utils.scss" as *;
@use "sass:color";

.tableButton {
  border-color: $success-color;
  background-color: $lighten-background-color;
  color: $success-color;

  &:hover {
    background-color: color.scale($lighten-background-color, $lightness: -30%);
  }

  &:disabled {
    background-color: $success-color;
    color: $light-text-color;
    pointer-events: none;
  }
}

.plus {
  @include icon($success-color) {
    @extend .fa-circle-plus;
    font-size: 0.9rem;
    margin-left: 6px;
  }
}

.check {
  @include icon($light-text-color) {
    @extend .fa-circle-check;
    font-size: 0.9rem;
    margin-left: 6px;
  }
}
