@use "sass:color";
@use "../../utils.scss" as *;

.mainPage {
  display: flex;
  align-items: center;
  color: $light-text-color;
  gap: 10px;
}

.house {
  @include icon($primary-color) {
    @extend .fa-house;
    font-size: 2rem;
  }
}

.tableContainer {
  position: relative;
  overflow-x: auto;
  box-shadow: $basic-shadow;
  border-radius: 6px;
  background-color: $basic-background;
  color: $light-text-color;
  width: 100%;

  .table {
    width: 100%;
    text-align: left;
    color: $light-text-color;
    border-collapse: collapse;
    overflow: hidden;
    border-radius: 10px 10px 0px 0px;
  }

  th,
  td {
    padding: 16px;
    border-bottom: 1px solid $basic-border-color;

    .owner {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 15px;
    }

    .avatar {
      border-radius: 50%;
      overflow: hidden;
      max-width: 40px;
      display: block;
      width: fit-content;
    }
  }

  thead {
    background-color: $darken-background-color;
    text-transform: uppercase;
    font-size: 12px;
    color: $neutral-text-color;
  }

  th {
    cursor: pointer;
  }
}

tbody tr {
  background-color: $basic-background;
  &:nth-child(even) {
    background-color: $lighten-background-color;
  }
}

.tableButton {
  background-color: $success-color;
  color: $light-text-color;
  font-weight: 500;
  &:hover {
    background-color: color.scale($success-color, $lightness: -20%);
  }
}
