@use "../../utils.scss" as *;
.searchContainer {
  position: relative;
  overflow-x: auto;
  box-shadow: $basic-shadow;
  border-radius: 10px;
  background-color: $basic-background;
  color: $light-text-color;
  margin-bottom: 20px;
  padding: 10px 18px;
  max-width: 800px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;

  @include respond-to(sm) {
    width: 80%;
  }

  &:focus-within .searchIcon {
    color: $success-color;
  }

  .searchInputWrapper {
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 100%;
    align-items: center;
  }

  .searchInput {
    padding: 10px 40px 10px 12px;
    background-color: $basic-background;
    border: 1px solid $basic-border-color;
    border-radius: 10px;
    width: 100%;
    color: $light-text-color;

    &:focus,
    &:focus-visible {
      outline: solid 1px $success-color;
    }
  }

  .searchIcon {
    @include icon($basic-border-color) {
      @extend .fa-magnifying-glass;
      font-size: 1.2rem;
    }

    position: absolute;
    right: 1rem;

    cursor: pointer;
  }

  .pageCount {
    font-size: 0.8rem;
  }
}
