@use "../../utils.scss" as *;

.selectContainer {
  margin-left: 15px;
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-self: center;
  gap: 10px;
  label {
    color: $neutral-text-color;
  }

  select {
    background-color: $lighten-background-color;
    color: $light-text-color;
    border-radius: 8px;
    padding: 6px 8px;
    cursor: pointer;
    transition: all 0.3s;

    &:hover {
      border-color: $success-color;
    }

    &:focus {
      outline: none;
      border-color: $success-color;
    }
  }
}
