@use "../../utils.scss" as *;
@use "sass:color";

.spinnerContainer {
  display: flex;
  justify-content: center;
}

.spinner {
  width: 30px;
  height: 30px;
  border: 4px solid $primary-color;
  border-top: 4px solid color.scale($primary-color, $lightness: 50%);
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
